%h1 Users
- @users.each do |user|
  %div{:class => ""}
    %div{:class => ""}
      %strong Username:
      %a{:class => "", :href => "/admin/user/#{user.id}"}
        = user.username
    %div{:class => ""}
      %strong ID:
      = user.id
    %div{:class => ""}
      %strong Role ID:
      = user.role_id
    %div{:class => ""}
      %strong Last Updated On:
      = user.updated_at
    %div{:class => ""}
      %a{:class => "", :href => "/admin/user/#{user.id}/edit", :role => "button"}
        Edit User
      %form{:class => "", :method => "post", :action => "/admin/user/#{user.id}"}
        %input{:type => "hidden", :name => "_method", :value => "delete"}
        %button{class: "button"} Delete User
  %hr
